.container
            {
                margin:10px;
            }
.jumbotron
            {
                text-align:center;
            }

 .nav-item
            {

               padding-left:25px;
            }
